:root {
  font-family: sans-serif;
  font-family: sans-serif;
}

body {
  margin: 0px;
  box-sizing: border-box;
}

.body {
  width: 80%;
  margin: auto;
}

.header-container {
  box-shadow: 10px 5px 5px rgba(25, 24, 24, 0.092);
  background-color: whitesmoke;
}

.header {
  width: 75%;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  font-family: monospace;
}

.header .log-btn {
  border: none;
  background-color: rgb(255, 136, 0);
  padding: 5px 15px;
  border-radius: 5px;
  color: rgb(245, 245, 245);
}

.logo {
  display: flex;
}

.logo i {
  color: rgb(235, 122, 9);
}

.logo img {
  width: 120px;
  height: 40px;
  margin: 0 13;
}

.search {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(104, 104, 110, 0.234);
  display: flex;
  place-items: center;
  justify-content: center;
  list-style: none;
}

.navItems ul {
  display: flex;
  gap: 40px;
  padding: 0;
}

.navItems ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
  color: gray;
}

.navItems ul li:hover {
  color: rgb(255, 136, 0);
  cursor: pointer;
}

.navItems ul li span {
  position: relative;
  top: -7px;
  color: rgb(255, 136, 0);
  right: 9px;
  font-weight: bold;
  font-size: 12px;
  font-family: sans-serif;
}

.menu-bar {
  display: none;
}

.filter {
  padding: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-btn {
  padding: 7px;
  border-radius: 5px;
  border: none;
  color: gray;
  cursor: pointer;
}

.filter-btn:focus {
  background-color: rgba(255, 136, 0, 0.996);
  color: white;
}

.filter .search-res {
  display: flex;
}

.filter .search-res input {
  border: 1px solid rgba(255, 136, 0, 0.453);
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: gray;
  text-align: center;
  outline: rgba(255, 136, 0, 0.996);
}

.filter .search-res button {
  border: none;
  background-color: rgb(255, 136, 0);
  padding: 5px 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: rgb(245, 245, 245);
}

.res-container {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.card-container {
  width: 250px;
  height: 100%;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 20px;
  transition: transform 0.4s;
}

.card-container:hover {
  cursor: pointer;
  border-radius: 15px;
  background-color: #78707014;
  height: 100%;
  transform: scale(0.9);
}

.card-container .img-container {
  position: relative;
  max-height: 165px;
}

.card-container .img-container img {
  width: 100%;
  height: 60%;
  border-radius: 15px;
}

.card-container .img-container span {
  color: rgba(255, 255, 255, 0.964);
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  bottom: 30px;
  left: 10px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.card-details {
  padding: 5px;
  line-height: 5px;
}

.card-details .res-name {
  font-size: 17px;
  margin: 0;
  letter-spacing: 0.5px;
  color: rgb(112, 112, 112);
  font-weight: 600;
  line-height: 18px;
}

.card-details .res-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-details .res-type {
  color: gray;
  font-size: 15px;
  line-height: 18px;
  margin: 5px 0;
}

.card-details .res-rate {
  color: gray;
  margin: 0;
}

.card-details .res-rate i {
  color: rgb(218, 138, 27);
  margin-right: 3px;
}

.card-details .del-time {
  color: gray;
  margin: 0;
}

.card-details .del-time i {
  color: rgb(79, 177, 64);
  margin-right: 3px;
}
.card-details .del-time i:hover {
  color: rgb(200, 78, 17);
}
.card-details .rate-time {
  display: flex;
  justify-content: space-between;
}
.card-details .distance p {
  font-size: 11px;
  color: gray;
  margin-top: 10px;
}
.card-details .distance p span {
  font-size: large;
}
.card-details .location {
  font-size: 10px;
  color: gray;
  margin: 0;
}

.card-details .location i {
  color: rgb(63, 118, 177);
  margin-right: 5px;
  font-size: 15px;
}

.shimmer-container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  margin-top: 80px;
}

.shimmer-card div {
  width: 250px;
  height: 150px;
  border-radius: 15px;
  background-color: rgba(128, 128, 128, 0.453);
}

.shimmer-card .shimmer-foot {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  margin: 20px 0;
  background-color: rgba(128, 128, 128, 0.453);
}

.search-container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.search-container .input-container {
  width: 100%;
  height: 30px;
  border: 1px solid rgba(128, 128, 128, 0.763);
  margin-top: 10%;
  display: flex;
  align-items: center;
}

.search-container .input-container input {
  border: none;
  background-color: transparent;
  margin-left: 10px;
  width: 100%;
  justify-content: space-between;
  font-family: monospace;
  outline: none;
}

.search-container .input-container i {
  margin-right: 10px;
  color: rgba(128, 128, 128, 0.763);
}

.search-cards {
  width: 100%;
  margin-top: 30px;
  gap: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-card {
  display: flex;
  width: 200px;
  gap: 20px;
  color: rgb(91, 91, 91);
  /* margin-top: 10px; */
}

.search-card .img-container img {
  width: 72px;
  height: 90px;
  border-radius: 50%;
}

.search-card .text-container h6 {
  margin-top: -15px;
}

.footer {
  background-color: black;
  color: aliceblue;
}

.footer-container {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.footer-container .copy-right {
  display: block;
  width: 25%;
  margin-right: 20px;
}

.footer-container .copy-right .logo {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 10px;
  color: rgb(255, 140, 0);
}

.footer-container .copy-right .logo i {
  font-size: 40px;
}

.footer-container .copy-right .text {
  font-size: 10px;
}

.footer-container .company {
  width: 25%;
}

.footer-container .contact-us {
  width: 25%;
}

.footer-container .places {
  width: 25%;
}

.footer-container h6 {
  color: gray;
}

.search-container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.search-shimmer .search-container .input-container {
  width: 100%;
  height: 30px;
  border: 1px solid rgba(128, 128, 128, 0.763);
  margin-top: 10%;
  display: flex;
  align-items: center;
}

.search-shimmer .search-container .input-container input {
  border: none;
  background-color: transparent;
  margin-left: 10px;
  width: 100%;
  justify-content: space-between;
  font-family: monospace;
  outline: none;
}

.search-shimmer .search-container .input-container i {
  margin-right: 10px;
  color: rgba(128, 128, 128, 0.763);
}

.search-shimmer .search-cards {
  width: 100%;
  margin-top: 30px;
  gap: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-shimmer .search-card {
  width: 100px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  width: 200px;
  gap: 20px;
}
.search-shimmer .search-card .img-container {
  width: 60px;
  height: 60px;
  background-color: rgba(128, 128, 128, 0.548);
  margin: 5px;
  border-radius: 10px;
}

.search-shimmer .search-card .text-container {
  width: 100px;
  height: 20px;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.542);
  margin-top: 10px;
}

@media (max-width: 1040px) {
  .body {
    width: 90%;
    margin: auto;
  }
  .menu-bar {
    display: block;
  }
  .navItems.active {
    display: block;
  }
  .navItems.disabled {
    display: none;
  }
  .navItems ul {
    display: block;
  }
  .navItems {
    background-color: rgba(0, 0, 0, 0.87);
    width: 200px;
    height: 190px;
    position: relative;
    top: 140px;
    color: white;
    border-radius: 5px;
    z-index: 1;
    left: 180px;
  }
  .navItems ul li {
    gap: 5px;
    font-size: small;
    margin-bottom: 20px;
  }
  .navItems ul li span {
    display: none;
  }
}

@media (max-width: 780px) {
  .navItems {
    left: 120px;
  }
  .navItems ul li {
    margin-bottom: 20px;
  }
}

@media (max-width: 650px) {
  .navItems {
    left: 70px;
    margin-right: 10px;
  }
  .navItems ul li {
    margin-bottom: 20px;
  }
}
